/.bundle/

# Ignore local configuration files.
/.rspec
/.rubocop
/.ruby-version
Gemfile.lock
/gemfiles/*.lock

# Ignore local and generated documentation.
/coverage
/doc
/docs/.jekyll-cache
/docs/.ruby-version
/docs/_site
/.yardoc
/_yardoc/
/coverage/

# Ignore temporary files.
*.gem
/.byebug_history
/spec/examples.txt
/spec/reports/
/tmp
